:host { margin: 5px; }
h2 { color: #f90; }
.greenColor {
    color: #11ff00;
    font-size: 14px;
}

.btnLook {
    float: right;
}
    
.table_list{
    height: 200px;
    margin-left: 0px; 
    margin-right: 0px;
}

.dd {
    padding-right: 0px;
    padding-bottom: 0px;
    height: 200px;
}

.my_float {
    text-align: right;
    width: auto;
   
}
.my_list_item {
    width:300px; 
    overflow: hidden;
    margin-right: 5px;
    margin-left: 5px;
}